<!-- Start >> Navbar -->
<nav id="navbar" class="navbar navbar-expand-lg mb-0 px-2 bg-app">
    <div class="container">
      <!-- Start >> Navbar items -->
      <ul class="navbar-nav">
  
        <li class="nav-item icon-center">
          <!-- Logo App -->
  
          <!-- IMG -->
          <!-- <img class="user user-chip-md mr-2" src="" alt="you logo" /> -->
  
          <!-- SVG -->
          
<svg width="50px" height="50px" viewBox="0 0 14 14" role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path fill="#ff9800" d="M13 5.2V4h-3V1H8.8v3H7.6V1H6.4v3H5.2V1H4v3H1v1.2h3v1.2H1v1.2h3v1.2H1V10h3v3h1.2v-3h1.2v3h1.2v-3h1.2v3H10v-3h3V8.8h-3V7.6h3V6.4h-3V5.2h3z"/><path fill="#4caf50" d="M2.2 3.4v7.2c0 .66.54 1.2 1.2 1.2h7.2c.66 0 1.2-.54 1.2-1.2V3.4c0-.66-.54-1.2-1.2-1.2H3.4c-.66 0-1.2.54-1.2 1.2z"/><path fill="#37474f" d="M9.1 9.1H4.9c-.33 0-.6-.27-.6-.6v-3c0-.33.27-.6.6-.6h4.2c.33 0 .6.27.6.6v3c0 .33-.27.6-.6.6z"/></svg>
          <!-- Title app -->
          <h5 class="p-0 m-0 ms-2 fw-bold">{{title}}</h5>
  
        </li>
      </ul>
      <div class="ms-auto">
        <ul class="navbar-nav">
          <ul class="navbar-nav">
  
            <li class="nav-item d-none d-lg-block">
              <a class="nav-link active mx-3" aria-current="page" href="#">Home</a>
            </li>
  
            <li class="nav-item d-none d-lg-block">
              <a class="nav-link mx-3" href="#">Product</a>
            </li>
  
            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link dropdown-toggle mx-3" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Documentation
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <div class="px-2">
                  <h5 class="dropdown-header fw-bold">Get started</h5>
                  <a class="dropdown-item" href="javascript:void(0);">Installation</a>
                  <a class="dropdown-item" href="javascript:void(0);">Plugins</a>
                  <a class="dropdown-item" href="javascript:void(0);">Code samples</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <span><i class="bi bi-credit-card-2-back-fill text-primary"></i></span>
                    <span class="ms-2">Set up payments</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <span><i class="bi bi-gear-fill text-info"></i></span>
                    <span class="ms-2">Full API Reference </span>
                  </a>
                </div>
              </div>
            </li>
  
            <li class="nav-item d-none d-lg-block">
              <a class="nav-link mx-3" href="#">Contact</a>
            </li>
  
            <!-- Registred -->
            <li class="nav-item dropdown"  *ngIf="registred">
              <a class="img-user" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="./assets/images/avatars/avatar-01.svg" class="user user-chip-md bg-default" alt="user-image">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                <div class="row p-2 d-flex align-items-center" style="width: 20rem;">
                  <div class="col-md-3 col-sm-3 col-3">
                    <img src="./assets/images/avatars/avatar-01.svg" class="user user-chip-xxlg bg-default"
                      alt="user-image">
                  </div>
                  <div class="col-md-9 col-sm-9 col-9">
                    <div class="py-3 ps-3">
                      <div>
                        <h6 class="text-dark p-0 m-0 text-capitalize"><strong>{{username}}</strong></h6>
                      </div>
                      <div>
                        <small class="text-dark text-capitalize">Software developer</small>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item-user icon-center">
                    <i class="bi bi-person-circle fs-5 text-primary"></i> <span class="ms-4">My Profile</span>
                  </li>
                  <li class="list-group-item-user icon-center">
                    <i class="bi bi-bag-heart-fill fs-5 text-info"></i> <span class="ms-4">Subscriptions</span>
                  </li>
                  <li class="list-group-item-user icon-center" >
                    <i class="bi bi-box-arrow-right fs-5 text-danger"></i> <span class="ms-4">Sign out</span>
                  </li>
                </ul>
              </div>
            </li>
  
            <!-- Not registred -->
            <button type="button" class="btn btn-login btn-outline-primary"  *ngIf="!registred"
            [routerLink]="['/accout/login']" routerLinkActive="router-link-active">Log in</button>
  
          </ul>
        </ul>
      </div>
      <!-- End >> Navbar items -->
    </div>
  </nav>
  <!-- End >> Navbar -->
